<% if person_signed_in? %>
  <%= link_to 'Painel do usuário', user_path(@user.id) %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Welcome a board</h1>
  </div>
  <div class="panel-body">
    <p>Bem-vindo! As interações entre seu time acabaram de ficar mais fáceis
        e ágeis, atravez de uma interface intuitiva e com vários recursos.</p>
  </div>
</div>
