<% if person_signed_in? %>
  <%= link_to 'Painel do usuário', user_path(@user.id), class: 'btn btn-default' %>
<% end %>

</br>
</br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Welcome aboard</h1>
  </div>
  <div class="panel-body">
    <p>Bem-vindo! As interações entre seu time acabaram de ficar mais fáceis
        e ágeis, através de uma interface intuitiva e com vários recursos.</p>
  </div>
</div>
