default: &default
  adapter: postgresql
  encoding: utf8
  host: db
  user: postgres
  port: 5432

development:
  <<: *default
  database: docflow_development

test:
  <<: *default
  database: docflow_test

production:
  <<: *default
  database: docflow_production
